.alert.alert-danger(role='alert')
   h1.text-center ERROR!

link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')